.section {
  color: white;
  padding: 0 15px;
  padding-bottom: 30px;
  position: relative;
}
.section h2 {
  margin-bottom: 10px;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.section:last-of-type {
  margin-bottom: 50px;
}
.list {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  transition: transform 0.4s;
  height: 200px;
}
.list::-webkit-scrollbar {
  display: none;
}


@media (min-width: 501px) {
  .section h2 {
    font-size: 1.5rem;
    padding-left: 5px;
  }
}
@media (min-width: 768px) {
  .section h2 {
    padding-left: 50px;
  }
  .list {
    padding-left: 40px;
  }
}
