.invalid_inputs {
  background-color: #e87c03;
  color: white;
  padding: 10px 15px;
  margin-bottom: 20px;
  font-size: 0.9rem;
  text-transform: capitalize;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.invalid_inputs a {
  font-size: 0.9rem;
  color: inherit;
  position: relative;
  text-transform: lowercase;
  border-bottom: 1px solid white;
}