.footer {
  width: 100%;
  padding: 30px 0;
  background-color: black;
  height: fit-content;
}
.content {
  width: 90%;
  margin: 0 auto;
}
.content > a {
  color: #737373;
  text-transform: capitalize;
  font-weight: 500;
}
.content a {
  position: relative;
}
.content a:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #737373;
  position: absolute;
  left: 0;
  bottom: 2px;
  display: none;
}
.content a:hover::after {
  display: block;
}
.links {
  margin-top: 30px;
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.links li {
  min-width: 49%;
  margin-bottom: 10px;
}
.links li a {
  width: auto;
  color: #737373;
  font-size: 14px;
}
.footer p {
  color: #737373;
  font-weight: 500;
}
@media (min-width: 550px) {
  .links li {
    min-width: 33%;
  }
}
@media (min-width: 767px) {
  .content {
    max-width: 70%;
  }
  .links li {
    min-width: 33%;
  }
}

@media (min-width: 992px) {
  .links li {
    min-width: 25%;
  }
}
@media (min-width: 1200px) {
  .content {
    max-width: 60%;
  }
}
