.left {
  flex: 1;
  position: relative;
}
.right {
  display: flex;
  align-items: center;
}
.bars {
  position: relative;
}
.bars {
  color: white;
  font-size: 1.5rem;
  margin-right: 10px;
  display: block;
  cursor: pointer;
  z-index: 3000;
  position: relative;
}
.avatar {
  width: 40px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .avatar {
    width: 50px;
  }
  .bars {
    display: none;
  }
}
